body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    background: #803e6d;
    background: url("../images/main-background.png") top center repeat-x;
    background-size: auto 100%;
    color: #ffae7e;
}

.loading-placeholder {
    background: url("../images/loading-dark.svg") no-repeat center;
    height: 100px;
}

/*===============   Темы   ====================*/

.input_dark-theme {
    border: none;

    color: #ffae7e;
    background: #4a2359;
    outline: none;
}

.input_dark-theme::placeholder {
    color: #ffd0b5;
}

.input_light-theme {
    border: none;

    color: #4a2359;
    background: #ffae7e;
    outline: none;
}

.input_light-theme::placeholder {
    color: #6e3485;
}

.button_light-theme:focus {
    outline: none;
}

.button_light-theme {
    border: none;

    background: #ffae7e;
    color: #4a2359;

    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.button_light-theme:hover {
    text-decoration: none;
    color: #8b256e;
    background: #ff7b2f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button_dark-theme:focus {
    outline: none;
}

.button_dark-theme {
    border: none;

    background: #4a2359;
    color: #ffae7e;

    transition: background-color 0.5s, color 0.5s;
}

.button_dark-theme:hover {
    text-decoration: none;
    color: #ff7b2f;
    background: #6c3382;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.form-link_light {
    color: #ffd0b5;
    font-weight: bold;
}

.form-link_light:hover {
    color: #ffd0b5;
}

.checkbox_theme {
    display: none;
}

.checkbox-label_theme {
    position: relative;
    margin: 0;
    padding-left: 30px;
}

.checkbox-replaced_dark-theme {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ffae7e;

    background: #4a2359;
}

.checkbox_theme:checked + .checkbox-replaced_dark-theme::before,
.checkbox_theme:checked + .checkbox-replaced_dark-theme::after {
    display: block;
}

.checkbox-replaced_dark-theme::before,
.checkbox-replaced_dark-theme::after {
    content: '';
    display: none;
    position: absolute;
    height: 16px;
    width: 2px;
    left: 7px;
    top: 0;

    background: #ffae7e;

    transform: rotate(45deg);
}

.checkbox-replaced_dark-theme::after {
    transform: rotate(-45deg)
}

.checkbox-label_theme:hover {
    cursor: pointer;
}

.window_default {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    padding-top: 10vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;

    color: #ffae7e;

    transition: opacity 1s;
}

.form_default {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 350px) {
    .form_default {
        width: 90%;
        padding: 0 5%;
    }
}

.form-heading_default {
    margin-bottom: 40px;

    font-family: 'Lobster', cursive;
    text-align: center;
}

.overlay {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background: #4a2359;

    transition: opacity 1s;
}

.show-overlay {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

/*===================   Кнопки закрытия   ===================*/

.close-button {
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;

    background: transparent;
}

.close-button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.close-button:focus {
    outline: none;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    height: 32px;
    width: 4px;
    top: -3px;
    left: 12px;

    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

.window-close-button {
    top: 50px;
    right: 50px;
}

@media (max-width: 576px) {
    .window-close-button {
        top: 10px;
    }

}

.window-close-button::before,
.window-close-button::after {
    background: #ffae7e;
}

/*====================   Анимации   ====================*/

@keyframes main-hovering-lg {
    from {
        top: 50px;
    }
    to {
        top: 70px;
    }
}

@keyframes main-hovering-xl {
    from {
        top: 70px;
    }
    to {
        top: 100px;
    }
}

@keyframes hovering {
    from {
        top: 0;
    }

    to {
        top: 60px;
    }
}

@keyframes expansion {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(0.8);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*===================   ГЛАВНАЯ   ====================*/

/*===================   Хэдер   ===================*/

.header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
}

.header__logo-wrapper {
    height: 83px;
    line-height: 83px;
    text-align: center;

    background: url("../images/logo-bg.png") center no-repeat;
}

.main-navigation {
    justify-content: center;
}

.main-navigation__link,
.header__logo-name {
    font-family: 'Lobster', cursive;
    color: #ffae7e;
    font-size: 1.3em;
    text-align: center;

    transition: color 0.5s ease;
}

.header__logo-name {
    font-size: 1.5em;
}

.main-navigation__link:hover,
.header__logo-name:hover {
    text-decoration: none;
    color: #ff7b2f;
}

.header__logo {
    width: 100%;
}

.current-page {
    border-bottom: 3px solid;
}

.for-registered {
    opacity: 0.8;
}

/*===================   Главная часть   ===================*/

.main {
    margin-bottom: 100px;
}

.main-info__main-heading {
    font-family: 'Lobster', cursive;
}

.main__buttons-holder {
    font-size: 0;
}

.main__login,
.main__reg {
    display: inline-block;
    padding: 15px;
    width: 49%;

    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
    text-align: center;
}

.main__login {
    margin-left: 1%;

    border-radius: 0 30px 30px 0;
}

.main__reg {
    margin-right: 1%;

    border-radius: 30px 0 0 30px;
}

.main-info__description {
    margin-bottom: 50px;
}

.main__play {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    min-width: 200px;

    text-align: center;

    border-radius: 40px;
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
}

.main__alien {
    position: absolute;

    left: 100px;

    animation: main-hovering-lg 2s infinite alternate cubic-bezier(.49, .13, .48, .92);
}

.main__alien:nth-child(2) {
    left: 200px;

    animation-delay: .3s;
    animation-duration: 1.4s;
}

.main__alien:nth-child(3) {
    left: 300px;

    animation-delay: .1s;
    animation-duration: 1.8s;
}

@media (min-width: 1200px) {
    .main__alien {
        transform: scale(1.2);
        left: 150px;

        animation-name: main-hovering-xl;
    }

    .main__alien:nth-child(2) {
        left: 250px;
    }

    .main__alien:nth-child(3) {
        left: 350px;
    }
}

/*===================   Футер   ===================*/

.footer {
    padding-top: 100px;

    background: #6a366b;
    background: url("../images/footer-background.png") center center repeat-x;
    background-size: auto 100%;
    height: 400px;
}

.footer__tagline {
    height: 111px;
    padding-top: 20px;

    font-family: 'Lobster', cursive;
    color: #4a2359;
    background: 45% url("../images/footer-image.png") no-repeat;
    background-size: contain;
    font-size: 2.3em;
    line-height: 1em;
    text-align: center;
}

.footer__link {
    color: #6a366b;

    transition: color 0.5s;
}

.footer__link:hover {
    text-decoration: none;
    color: #4a254a;
}

@media (max-width: 768px) {
    .footer__tagline {
        background: #f9907a;
        border-radius: 100px;
    }
}

/*===================   Форма регистрации/входа/восстановления   ===================*/

.to-main {
    position: absolute;
    top: 40px;
    left: 40px;
}

.to-main::before {
    content: '←';
}

@media (max-width: 768px) {
    .to-main {
        top: 10px;
    }
}

.reg-form__input,
.login-form__input,
.reset-form__input {
    height: 46px;
    padding: 0 12px;
    margin-bottom: 24px;
    border: 1px solid;
}

.reg-form__button,
.login-form__button,
.reset-form__button {
    margin-bottom: 24px;
    height: 44px;

    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.login-form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.form__social-login {
    display: block;
    height: 46px;

    text-align: center;
    line-height: 46px;
    color: #fff;

    transition: background 0.5s;
}

.form__social-login:hover {
    color: #fff;
    text-decoration: none;
}

.form__vk-login {
    background: #507299;

    border-radius: 25px;
}

.form__vk-login:hover {
    background-color: #346399;
}

/*=========================   ОКНО ИГРЫ   =========================*/

.playground {
    position: relative;
    padding: 40px 0;

    background: #ffae7e;
    color: #4a2359;
    font-family: 'Lobster', cursive;
    font-size: 1.25em;
}

/*=========================   Интерфейс игры   =========================*/

/*=========================   Анимированная картинка и тень   =================*/

.centered-image {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto 100px;

    animation: hovering 1.5s alternate both infinite cubic-bezier(.42, .01, .58, .99);
}

.shadow__ratio-control-outer {
    width: 80%;
    margin: 0 auto;
}

.shadow__ratio-control-inner {
    height: 0;
    position: relative;
    padding-top: 15%;
}

.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    border-radius: 300px/50px;
    background: rgba(0, 0, 0, 0.1);
    animation: expansion 1.5s alternate both infinite cubic-bezier(.42, .01, .58, .99)
}

/*============================   Элементы настроек   ==========================*/

.settings__heading {
    font-family: 'Lobster', cursive;
}

.settings__buttons-wrapper {
    font-size: 0;
}

.settings__buttons-wrapper > * {
    font-size: 1rem;
}

.settings__theme {
    font-size: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.settings__theme > * {
    font-size: 1.25rem;
}

.settings__theme-list {
    border: 2px solid;
    padding: 5px;
    min-width: 35%;

    transition: background-color 0.5s;
}

.settings__theme-list:hover {
    cursor: pointer;

    background: #ff7b2f;
}

.settings__main-window {
    position: relative;
    text-align: center;

    transition: opacity 1s;
}

/* Кнопки и поля */

.settings__theme-option {
    display: none;
}

.settings__theme-label {
    width: 32px;
    height: 32px;
    border: 2px solid;

    border-radius: 20px;

    cursor: pointer;
}

.settings__theme-option:checked + .settings__theme-label {
    background: #ff7b2f;
}

.groups-body .settings__theme-option:checked + .settings__theme-label {
    background: #4a2359;
    border-color: #4a2359;
    color: #ff7b2f;
}

.settings__theme-holder {
    display: grid;
    grid-template-columns: 100px repeat(9, 32px);
    grid-column-gap: 2px;
}

.settings__theme-holder:nth-of-type(4) .settings__theme-placeholder {
    grid-column: 2 / 7;
}

.settings__theme-name {
    text-align: left;
}

@media (max-width: 576px) {
    .settings__theme-label {
        width: 38px;
        height: 38px;

        font-size: 1.45rem;
    }

    .settings__theme-holder {
        grid-template-columns: repeat(9, 40px);
    }

    .settings__theme-name {
        text-align: center;
        grid-column: 1 / 10;
    }

    .settings__theme-holder:nth-of-type(4) .settings__theme-placeholder {
        grid-column: 1 / 6  ;
    }
}

@media (max-width: 380px) {
    .settings__theme-label {
        width: 30px;
        height: 30px;

        font-size: 1rem;
    }

    .settings__theme-holder {
        grid-template-columns: repeat(9, 32px);
    }

    .settings__theme-name {
        text-align: center;
        font-size: 1rem;
        grid-column: 1 / 10;
    }
}

.settings__capacity-value,
.settings__quantity-value,
.settings__speed-value {
    min-width: 35%;
    height: 46px;
    padding: 0 12px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    vertical-align: top;

    text-align: center;
}

.button_inc,
.button_dec {
    vertical-align: top;
    height: 46px;
    min-width: 7.5%;

    border-radius: 0 25px 25px 0;
}

.button_dec {
    border-radius: 25px 0 0 25px;
}

.button_inc:hover,
.button_dec:hover {
    box-shadow: none;
}

.settings__start-game {
    display: block;
    height: 46px;
    margin: 0 auto;
    min-width: 50%;

    border-radius: 30px;
}

.settings__label {
    display: block;
    margin-bottom: 10px;

    font-size: 1.25rem;
}

.settings__item {
    margin-bottom: 10px;
}



.settings__item:last-of-type {
    margin-bottom: 44px;
}

/*===============   Игровая доска   ======================*/

.game-board {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #4a2359;
    padding: 50px;

    border-radius: 25px;

    animation: fade 1s;
    transition: opacity 1s;
}

@media (max-width: 576px) {
    .game-interface {
        height: auto;
    }
}

.show-window {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.game__heading {
    text-align: center;
    font-size: 3rem;
}

.game__button:focus {
    outline: none;
}

.game__button {
    position: absolute;

    background-color: #ffae7e;
    color: #4a2359;
    border-radius: 25px;

    cursor: pointer;

    transition: transform 0.5s, background-color 0.5s;
}

.game__button:hover {
    transform: scale(1.15);

    background-color: #ff7b2f;
}

.game__restart-button {
    right: 50px;
    bottom: 50px;
    padding-left: 40px;
    border: 3px solid;
    width: 150px;

    background: url('../images/restart-icon.svg') left no-repeat;
    background-size: contain;
}

.game__close-button {
    left: 50px;
    bottom: 50px;
    padding-left: 40px;
    border: 3px solid;
    width: 150px;

    background: url('../images/close-icon.svg') left no-repeat;
    background-size: contain;
}

.game__number {
    position: absolute;
    height: 120px;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 5rem;

    transform: translateY(-50%);

    transition: opacity 0.1s;
}

@media (max-width: 450px) {
    .game__number {
        font-size: 3rem;
    }

    .game__restart-button,
    .game__close-button {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 50px;
    }

    .game__close-button {
        bottom: 100px;
    }
}

.animation_slow {
    animation-duration: 2s;
}

.animation_normal {
    animation-duration: 1s;
}

.animation_fast {
    animation-duration: 0.5s;
}

/* ====================   Форма ответа   ======================*/

.game__answer-form {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;

    text-align: center;
    transform: translateY(-50%);

    animation: fade 1s;
}

.game__answer-field {
    height: 70px;
    border: 3px solid;
    vertical-align: top;

    border-radius: 50px 0 0 50px;
    text-align: center;
}

.game__answer-field:focus {
    background: #ff7b2f;
}

.game__answer-submit {
    height: 70px;
    vertical-align: top;
    padding-right: 10px;

    border-radius: 0 50px 50px 0;
}

@media (max-width: 450px) {
    .game__answer-field {
        width: 70%;
        height: 46px;
        margin-bottom: 20px;

        border-radius: 10px;
    }

    .game__answer-submit {
        width: 70%;
        height: 46px;

        border-radius: 25px;
    }
}

/*=======================   ОКНО ДОМАШКИ   ====================*/

.homework-main {
    position: relative;
    padding: 40px 0;
    background: #ffae7e;
    color: #4a2359;
    font-family: 'Lobster', cursive;
}

.homework {
    display: flex;
    flex-direction: column;
}

.pagination-wrapper {
    transition: opacity 1s;
}

.homework__message {
    font-size: 1.25rem;
}

.homework__task {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.homework__start-button {
    padding: 10px 30px;

    border-radius: 30px;
}

.paginator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: auto;
}

.paginator__radio {
    display: none;
}

.paginator__label {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 2px solid;

    text-align: center;
    cursor: pointer;

    transition: bacground 0.5s;
}

.paginator__radio:checked + .paginator__label {
    background: #ff7b2f;
}

.paginator__label:hover {
    background: #ff7b2f;
}

/*==========================   ОКНО СТАТИСТИКИ   =========================*/

.stats {
    padding: 40px 0;

    background: #ffae7e;
    color: #4a2359;
    font-family: 'Lobster', cursive;
    font-size: 1.25rem;
    overflow: auto;
}

.stats__table {
    margin: 0 auto 20px;
}

.stats__table,
.stats__heading,
.stats__data {
    border-collapse: collapse;
}

.stats__heading,
.stats__data {
    padding: 5px 15px;

    text-align: center;
}

.stats__heading {
    cursor: pointer;

    transition: background-color 0.5s;
}

.stats__heading:hover {
    background: #ff7b2f;
}

.table_light-theme {
    border: 2px solid;

    background: #ffae7e;
    color: #4a2359;
}

.stats__header {
    margin-bottom: 40px;
    color: #4a2359;
    text-align: center;
}

.stats__filter {
    border: 2px solid;
}

.stats__filter-label {
    width: 50%;

    text-align: right;
}

.stats__option {
    display: none;
}

.stats-holder {
    text-align: center;
}

.stats__label {
    display: inline-block;
    padding: 5px 25px;
    border: 2px solid;
    border-radius: 100px;

    color: #777;
    cursor: pointer;
    text-align: center;

    transition: background-color 0.5s, color 0.5s;
}

.stats__label:nth-of-type(1) {
    margin-right: 15%;
}

.stats__label:nth-of-type(2) {
    margin-left: 15%;
}

@media (max-width: 991px) {
    .stats__label {
        display: block;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    .stats__label:nth-of-type(1) {
        margin-right: auto;
    }

    .stats__label:nth-of-type(2) {
        margin-left: auto;
    }
}

@media (max-width: 575px) {
    .stats__label {
        width: 100%;
    }
}

.stats__label:hover {
    background: #ff7b2f;
}

.stats__option:checked + .stats__label {
    color: #4a2359;
    background: #ff7b2f;
}

.stats__personal,
.stats__global {
    display: none;
    overflow: auto;
}

.stats__option:nth-of-type(1):checked ~ .stats__personal {
    display: block;
}

.stats__option:nth-of-type(2):checked ~ .stats__global {
    display: block;
}

.stats__global-type {
    border: 2px solid;
    padding: 5px;
    margin-bottom: 20px;

    cursor: pointer;

    transition: background-color 0.5s;
}

.stats__global-type:hover {
    background: #ff7b2f;
}

.success {
    background: #1fc113;
}

.failure {
    background: #ff2b0a;
}

/*=============================   Настройки   ===========================*/

.main-settings {
    padding: 20px 0 40px;

    background: #ffae7e;
    color: #4a2359;
}

.main-settings__heading {
    text-align: center;
    font-family: 'Lobster', cursive;
}

@media (max-width: 576px) {
    .main-settings__heading {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.main-settings__section-opener {
    position: relative;
    display: block;
    width: 25%;
    min-width: 200px;
    margin: 0 auto;
    padding: 15px;

    border-radius: 30px;
}

.main-settings__section-opener:not(:first-child) {
    margin-top: 25px;
}

.main-settings__section-opener::before {
    content: '▼';
    position: absolute;
    left: 20px;
}

.main-settings-section {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.8s linear;
}

@media (max-width: 350px) {
    .main-settings-section {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.main-settings__input {
    border: 2px solid;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.main-settings__input:focus {
    background: #ff7b2f;
}

.main-settings__change-button {
    height: 46px;
    margin: 10px;

    border-radius: 25px;
    text-align: center;
}

.btn-loading_dark,
.btn-loading_light {
    background-position: 5px 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.btn-loading_light {
    background-image: url("../images/loading-light.svg") !important;
}

.btn-loading_dark {
    background-image: url("../images/loading-dark.svg") !important;
}

/*==============================   окно выбора группы   ==================*/

.groups {
    padding: 30px 0 50px;

    background: #ffae7e;
    color: #4a2359;

    font-family: 'Lobster', cursive;
    text-align: center;
}

.groups__heading {
    margin-bottom: 20px;
}

.group-holder {
    margin-bottom: 5px;
}

.groups__list {
    display: flex;
    flex-direction: column;
}

.groups__create-btn {
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.groups__create-btn:disabled {
    background: #888888;
    color: #ffae7e;
    cursor: not-allowed;
}

.groups__create-btn:disabled:hover {
    box-shadow: none;
}

.groups__delete-btn,
.groups__red-btn,
.groups__homework-btn {
    min-height: 28px;
    width: 80%;
    align-self: center;
    margin: 5px 0;
    padding: 0;

    border-radius: 20px
}

.groups__delete-btn {
    border: 2px solid #c10000;
    color: #c10000;
}

.groups__delete-btn:hover {
    background: #ff0000;
    color: #721c24;

    box-shadow: none;
}

.groups__red-btn,
.groups__homework-btn {
    border: 2px solid;
}

.groups__homework-btn {
    color: #1961b8;
}

.groups__red-btn:hover,
.groups__homework-btn:hover {
    box-shadow: none;
}

.groups__homework-btn:hover {
    color: #134788;
    background: #1e9ed8;
}

.group {
    max-height: 0;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: max-height 1s;
}

.group__checkbox,
.student__radio {
    display: none;
}

.group__name {
    display: block;
    font-size: 1.2em;
}

.group__name,
.group__student {
    border: 2px solid;
    border-radius: 20px;

    transition: 0.5s background-color;
    cursor: pointer;
}

.group__name:hover {
    background: #ff7b2f;
}

.group__student {
    margin-top: 5px;
    width: 80%;
    align-self: center;

    transition: transform 0.5s, background-color 0.5s;
}

.group__student:hover {
    transform: scale(1.1);
    background: #ff7b2f
}

.student__radio:checked + .group__student {
    transform: scale(1.1);
    background: #ff7b2f
}

.group__checkbox:checked + .group__name {
    background: #ff7b2f;
}

.action-place {
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    border: 2px solid;
    overflow: auto;

    background: #ff7b2f;
}

.groups-change-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-change-interface__name-changer {
    width: 50%;
    min-width: 250px;
    margin-bottom: 20px;
    border: 2px solid;

    font-size: 2em;
    text-align: center;
}

.groups-change-interface__name-changer:hover {
    cursor: pointer;
}

.groups-change-interface__name-changer:focus {
    cursor: text;
}

.groups-change-interface__list {
    width: 50%;
    min-width: 250px;
    min-height: 250px;
    border: 2px solid;
    margin-bottom: 20px;

    text-align: center;
    background: #ffae7e;
    outline: none;
    color: #4a2359;
    font-size: 1.2em;
}

.groups-change-interface__btn {
    padding: 5px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*=============================   Notifications  ==================================*/

.message-window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 50%;
    top: 20%;
    padding: 30px 50px 20px;
    border: 2px solid;
    min-width: 300px;
    z-index: 20;

    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;

    transform: translate(-50%, -20%);
}

@media (max-width: 576px) {
    .message-window {
        padding: 20px 10px;
    }
}

.message-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;

    background: rgba(0, 0, 0, 0.2);
}

.message-button {
    font-size: 1rem;
    box-sizing: border-box;
    min-width: 100px;
    height: 30px;

    border-radius: 20px;
}

.message-button:focus {
    outline: none;
}

.message-text {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.button_failure-theme {
    background: #d6010e;
    color: #ffbaba;
}

.button_success-theme {
    background: #4f8a10;
    color: #dff2bf;
}

/*.button_warning-theme {*/
    /*background: #9f6000;*/
    /*color: #feefb3;*/
/*}*/

.button_warning-theme {
    background: #00529b;
    color: #bde5f8;
}

.button_confirm-theme {
    color: #ffae7e;
    background-color: #4a2359;
}

.button_neg-confirm-theme {
    color: #4a2359;
    background-color: #ffae7e;
    border: 2px solid #4a2359;

    cursor: pointer;

    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.button_failure-theme,
.button_success-theme,
.button_warning-theme,
.button_confirm-theme {
    border: none;

    cursor: pointer;

    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.button_failure-theme:hover,
.button_success-theme:hover,
.button_warning-theme:hover,
.button_confirm-theme:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button_neg-confirm-theme:hover {
    color: #ffae7e;
    background-color: #4a2359;
}

/*==============================   Admin   =====================================*/

.users-controls {
    margin-bottom: 0;
    padding: 50px 0;

    background: #ffae7e;
    color: #4a2359;
}

.user-controls__heading {
    margin-bottom: 30px;

    text-align: center;
    font-family: 'Lobster', cursive;
}

.user-controls__sub-heading {
    margin-bottom: 20px;

    text-align: center;
    font-family: 'Lobster', cursive;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form__input {
    padding: 5px 15px;
    border: 2px solid;

    transition: background-color 0.2s;
}

.search-form__input:focus {
    background: #ff7b2f;
}

.search-form__button {
    padding: 5px 15px;

    border-radius: 0 5px 5px 0;
}

/*=============================   Rewriting stuff   =====================*/

.hide {
    opacity: 0;
}
