<!doctype html>
<html lang="ru">
<head>
    <title>Домашнее задание</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
</head>
<body class="homework-body">
<header class="header container">
    <div class="row">
        <div class="header__logo-wrapper col-12 col-lg-3 offset-lg-0">
            <a href="./index.html" class="header__logo-name">Numbers!</a>
        </div>
        <nav class="main-navigation col-xl-8 col-lg-9 offset-xl-1 navbar navbar-expand-sm justify-content-lg-end">
            <ul class="main-navigation__list navbar-nav">
                <li class="main-navigation__item nav-item">
                    <a href="./game.html" class="main-navigation__link nav-link">Играть</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="./homework.html" class="main-navigation__link nav-link current-page">Домашка</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="./stats.html" class="main-navigation__link nav-link">Статистика</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="./settings.html" class="main-navigation__link nav-link">Настройки</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="../index.html" class="main-navigation__link nav-link main-navigation__logout">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="homework-main d-flex">
    <div class="container align-self-center">
        <div class="row">
            <figure class="settings__animation d-none d-md-block col-md-4 align-self-center">
                <img src="../static/images/settings-creature.png" alt="Пришелец"
                     class="settings__animated-image centered-image">
                <div class="shadow__ratio-control-outer">
                    <div class="shadow__ratio-control-inner">
                        <div class="shadow"></div>
                    </div>
                </div>
            </figure>
            <div class="homework-game-interface col-md-8">
                <div class="homework">
                    <h1 class="homework__heading display-4 text-center">Домашнее задание</h1>
                    <div class="loading-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer__tagline">
            <a href="./game.html" class="footer__link">Развивайтесь<br>играя</a>
        </div>
    </div>
</footer>
<script src="../static/dist/scripts/polyfill.min.js"></script>
<script src="../static/dist/scripts/game.js"></script>
<script src="../static/dist/scripts/notify.js"></script>
</body>
</html>