<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Игровая зона</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
</head>
<body class="game-body">
<header class="header container">
    <div class="row">
        <div class="header__logo-wrapper col-12 col-lg-3 offset-lg-0">
            <a href="./index.html" class="header__logo-name">Numbers!</a>
        </div>
        <nav class="main-navigation col-xl-8 col-lg-9 offset-xl-1 navbar navbar-expand-sm justify-content-lg-end">
            <ul class="main-navigation__list navbar-nav">
                <li class="main-navigation__item nav-item">
                    <a href="./game.html" class="main-navigation__link nav-link current-page">Играть</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="./groups.html" class="main-navigation__link nav-link">Группы</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="./settings.html" class="main-navigation__link nav-link">Настройки</a>
                </li>
                <li class="main-navigation__item nav-item">
                    <a href="../index.html" class="main-navigation__link nav-link main-navigation__logout">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="playground">
    <div class="container">
        <div class="game row">
            <figure class="settings__animation d-none d-md-block col-md-4 align-self-center">
                <img src="../static/images/settings-creature.png" alt="Пришелец" class="settings__animated-image centered-image">
                <div class="shadow__ratio-control-outer">
                    <div class="shadow__ratio-control-inner">
                        <div class="shadow"></div>
                    </div>
                </div>
            </figure>
            <div class="game-interface col-md-8">
                <section class="settings__main-window">
                    <h2 class="settings__heading display-4">Настройки игры</h2>
                    <div class="settings__theme settings__item">
                        <span class="settings__label col-12">
                            Выберите тему:
                        </span>
                        <!--<input type="radio" name="theme" id="theme1" class="settings__theme-option" value="Просто" checked>-->
                        <!--<label for="theme1" class="settings__opt-name">Просто</label>-->
                        <!--<input type="radio" name="theme" id="theme2" class="settings__theme-option" value="Друг">-->
                        <!--<label for="theme2" class="settings__opt-name">Друг</label>-->
                        <!--<input type="radio" name="theme" id="theme3" class="settings__theme-option" value="Брат">-->
                        <!--<label for="theme3" class="settings__opt-name">Брат</label>-->
                        <!--<input type="radio" name="theme" id="theme4" class="settings__theme-option" value="Друг + Брат">-->
                        <!--<label for="theme4" class="settings__opt-name">Друг + Брат</label>-->
                        <select class="settings__theme-list input_light-theme" name="theme" title="Выберите тему">
                            <option value="theme-1">Друг</option>
                        </select>
                    </div>
                    <div class="settings__speed settings__item">
                        <span class="settings__label">
                            Настройте скорость смены чисел:
                        </span>
                        <div class="settings__buttons-wrapper">
                            <button class="settings__dec-speed button_dec button_dark-theme">-</button>
                            <input type="text" class="settings__speed-value input_light-theme settings__input"
                                   title="Настройте скорость смены чисел" value="0.5 сек" step="0.1" max="10" min="0.5">
                            <button class="settings__inc-speed button_inc button_dark-theme">+</button>
                        </div>
                    </div>
                    <div class="settings__capacity settings__item">
                        <span class="settings__label">
                            Настройте разрядность чисел:
                        </span>
                        <div class="settings__buttons-wrapper">
                            <button class="settings__dec-capacity button_dec button_dark-theme">-</button>
                            <input type="text" class="settings__capacity-value input_light-theme settings__input"
                                   title="Настройте разрядность чисел" value="2" step="1" min="1" max="5">
                            <button class="settings__inc-capacity button_inc button_dark-theme">+</button>
                        </div>
                    </div>
                    <div class="settings__quantity settings__item">
                        <span class="settings__label">
                            Настройте количество чисел:
                        </span>
                        <div class="settings__buttons-wrapper">
                            <button class="settings__dec-quantity button_dec button_dark-theme">-</button>
                            <input type="text" class="settings__quantity-value input_light-theme settings__input"
                                   title="Настройте количество чисел" step="1" value="3" min="1" max="Infinity">
                            <button class="settings__inc-quantity button_inc button_dark-theme">+</button>
                        </div>
                    </div>
                    <button class="settings__start-game button_dark-theme">Начать игру</button>
                </section>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer__tagline">
            <a href="./game.html" class="footer__link">Развивайтесь<br>играя</a>
        </div>
    </div>
</footer>
<script src="../static/dist/scripts/polyfill.min.js"></script>
<script src="../static/dist/scripts/game.js"></script>
</body>
</html>