<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Восстановление пароля</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
</head>
<body class="reset-body">
<section class="reset-window window_default show-window">
    <a href="index.html" class="to-main form-link_light">На главную</a>
    <h1 class="reset-window__heading form-heading_default display-4">Смена пароля</h1>
    <p class="text-center">Введите email<br>На него придут дальнейшие указания</p>
    <form class="reset-form form_default" method="post">
        <input type="email" name="email" class="reset-form__input input_dark-theme" title="email" placeholder="Email">
        <button class="reset-form__button button_light-theme">Ок</button>
    </form>
</section>
</body>
</html>